
<!--<h1><center><%= @greeting %></center></h1> -->
<h1><center>Welcome to the RMSI registration page!</center> </h1>
&nbsp;
&nbsp;
<h3> 
    
    <center> To proceed, please select which type of vendor you are. </center>
    &nbsp;
    &nbsp;
    <center>
    <a href=food>
    <button type="button" class="btn btn-primary btn-lg">Food</button>
    <a href=retail>
    <button type="button" class="btn btn-primary btn-lg">Retail/Artisan</button>
    <a href=nonprofit>
    <button type="button" class="btn btn-primary btn-lg">Non-Profit</button>
    <a href=commercial>
    <button type="button" class="btn btn-primary btn-lg">Commercial Information</button>
    </center>
    &nbsp;
    &nbsp;
</h3>
