<!--<h1><center><%= @greeting %></center></h1> -->
<h1><center>Commercial Information Vendor Registration Form</center> </h1>
&nbsp;
&nbsp;
<h3>
    
    <div class="container">
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Organization Name:</label>
          <div class="col-sm-10">
            <input type="oname" class="form-control" id="oname" placeholder="Enter name">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="cname">Contact Name:</label>
          <div class="col-sm-10">
            <input type="cname" class="form-control" id="cname" placeholder="Enter name">
          </div>
        </div>
         
         
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter Email">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Address:</label>
          <div class="col-sm-10">
            <input type="adr" class="form-control" id="adr" placeholder="Enter Address">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">City:</label>
          <div class="col-sm-10">
            <input type="city" class="form-control" id="city" placeholder="Enter City">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Zip Code:</label>
          <div class="col-sm-10">
            <input type="zcode" class="form-control" id="zcode" placeholder="Enter Zip Code">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Business Phone:</label>
          <div class="col-sm-10">
            <input type="bpn" class="form-control" id="bpn" placeholder="Enter Phone #">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Cell Phone:</label>
          <div class="col-sm-10">
            <input type="cpn" class="form-control" id="cpn" placeholder="Enter Phone #">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Website:</label>
          <div class="col-sm-10">
            <input type="wsite" class="form-control" id="wsite" placeholder="Enter Website URL">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Business ID:</label>
          <div class="col-sm-10">
            <input type="bid" class="form-control" id="bid" placeholder="Enter Business ID">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="oname">Product(s) to sell/service to provide:</label>
          <div class="col-sm-10">
            <input type="bid" class="form-control" id="bid" placeholder="Enter product(s)/service">
          </div>
        </div>
        
        <div class="form-group"> 
        <center>Equipment Rental (Optional)</center>
        </div>
        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Equipment Type</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>6' Table ($10)</td>
                  <td>
                  <select class="equipment-select">
                  <option value="zero">0</option>
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td>Folding Chair ($5)</td>
                  <td>
                  <select class="equipment-select">
                  <option value="zero">0</option>
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td>11' Market Umbrella ($50)</td>
                  <td>
                  <select class="equipment-select">
                  <option value="zero">0</option>
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td>10'x10' Food Service Tent ($110)</td>
                  <td>
                  <select class="equipment-select">
                  <option value="zero">0</option>
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Continue</button>
          </div>
        </div>
      </form>
    </div>
</h3>
